.case {
  &_delivery-control-cards {
    @include grid(repeat(2, 1fr), repeat(2, 1fr), 24px, 24px);
  }

  &_columns_container {
    @include grid(repeat(2, 1fr), auto, 25px, 0);
  }

  &_nationwide-cards {
    @include grid(repeat(3, 1fr), auto, 25px, 0);
  }

  &_usage-scenarios {
    @include grid(repeat(2, 1fr), auto, 25px, 25px);
  }

  // Hide black borders at the video player
  &_full-screen-phone-video-wrapper,
  &_map-video-wrapper,
  &_black-section {
    position: relative;
  }

  &_full-screen-phone-video-wrapper,
  &_map-video-wrapper {
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }

  &_full-screen-phone-video-wrapper {
    margin: auto;
    width: 23%;
    max-width: 340px;
    min-width: 225px;

    &::before {
      background-image: url("../../assets/img/Cases/nambafood/png/iphone-video-preview.png");
    }
  }

  &_map-video-wrapper {
    &::before {
      background-image: url("../../assets/img/Cases/nambafood/jpg/map-blank.jpg");
    }
  }

  &_map-video {
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &_animation_block {
    height: 104px;
  }

  &_delivery-control-card {
    padding: 16px;
    border-radius: 8px;
  }

  &_pipelines-image-mobile {
    display: none;
    max-width: 375px;
    height: auto;
  }

  &_website-and-mobile-apps-infrastructure-scheme-gif,
  &_high-level-system-overview-gif {
    max-width: 817px;
  }

  &_black-gradient {
    width: 100%;
    height: 26vw;
    min-height: 260px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, #101113 32.51%, rgba(16, 17, 19, 0) 100%);
  }

  @media screen and (max-width: 940px) {
    &_nationwide-cards {
      @include grid(repeat(1, 1fr), auto, 0, 20px);
    }

    &_restaurant-talisman-card {
      grid-row-start: 1;
    }
  }

  @media screen and (max-width: 835px) {
    &_columns_container {
      @include grid(repeat(1, 1fr), auto, 0, 20px);
    }

    &_control-panel-card-title {
      br {
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &_delivery-control-cards {
      @include grid(repeat(1, 1fr), auto, 0, 10px);
    }

    &_usage-scenarios {
      @include grid(repeat(2, 1fr), auto, 20px, 20px);
    }

    &_delivery-control-card {
      padding: 8px 20px
    }

    // Выставил временно
    &_animation_block {
      height: 0;
    }

    &_pipelines-image-desktop {
      display: none;
    }

    &_pipelines-image-mobile {
      display: block;
    }
  }

  @media screen and (max-width: 620px) {
    &_usage-scenarios {
      @include grid(repeat(1, 1fr), auto, 20px, 20px);
    }

    &_usage-scenarios-card {
      &:last-child {
        grid-row-start: 3;
      }
    }
  }

  @media screen and (max-width: 620px) {
    &_couriers-android-app-wrapper {
      min-width: 701px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}