.case {
  &_text-quote-break {
    display: block;
  }

  &_logotype {
    @include nambafood-footer;
    width: 200px;
    height: 63px;
    margin-bottom: 33px;
  }

  &_mobile-screen-break { // Foooter text break
    display: none;
  }

  &_issues-godee-card {
    margin-bottom: 20px;
  }

  &_header {
    &:before {
      background-image: url("../../assets/img/Cases/godee/jpg/godee-case-preview.jpg");
    }
  }

  &_header-title {
    margin-right: 155px;
  }

  &_godee-logo {
    @include godee-logo;
    width: 292px;
    height: 130px;
    z-index: 1;
  }

  &_before-after-gif {
    padding: 3.47vw 0;
  }

  @media screen and (max-width: 1250px) {
    &_header-title {
      margin-right: 80px;
    }
  }

  @media screen and (max-width: 1170px) {
    &_header-title {
      margin-right: 0;
    }

    &_godee-logo {
      width: 619px;
      background-position: left;
      margin-bottom: 6px;
    }
  }

  @media screen and (max-width: 655px) {
    &_godee-logo {
      width: 327px;
      height: 65px;
      margin-bottom: 20px;
    }

    &_header-description {
      max-width: 327px;

      br {
        display: none;
      }
    }
  }

  @media screen and (max-width: 370px) {
    &_header-description {
      max-width: 270px;
    }

    &_godee-logo {
      width: 270px;
      margin-bottom: 10px;
    }
  }
}
