@import "reset";

body, html {
  height: 100%;
}
body {
  background: #231f20;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.poster {
  display: flex;
  margin: auto;
}
.layer-1 {
  display: flex;
  flex-direction: column;
  max-width: 145px;
  justify-content: center;
  margin: auto;
  height: 100%;
}
.cb-intro{
  position: absolute;
  z-index: -1;
}
#red {
  transform-origin: 50% bottom;
  perspective-origin: center;
}
.move_hand{
  width: 199px;
  margin-left: -27px;
  position: absolute;
}
.path {
  stroke-dasharray: 3345;
  stroke-dashoffset: 3345;
  fill-opacity: 0;
}
.word_drow{
  fill-opacity: 0;
  fill: #ffffff;
}

#m{
  stroke-dasharray: 1140;
  stroke-dashoffset: 1140;
}
#a{
  stroke-dasharray: 963;
  stroke-dashoffset: 963;
}
#d{
  stroke-dasharray: 1005;
  stroke-dashoffset: 1005;
}
#d_2{
  stroke-dasharray: 784;
  stroke-dashoffset: 784;
}
#e{
  stroke-dasharray: 827;
  stroke-dashoffset: 827;
}
#v{
  stroke-dasharray: 746;
  stroke-dashoffset: 746;
}
#s{
  stroke-dasharray: 874;
  stroke-dashoffset: 874;
}
.myclass{
  width: 144px;
  margin-left: -4px;
}
.social_links{
  display: flex;
  width: 130px;
  align-items: center;
  justify-content: space-around;
  svg{
    width: 23px;
    margin: 10px;
    fill: #ffffff;
  }
  #github{
    height: 23px;
  }
  #instagram{
    height: 23px;
  }
  #twitter{
    width: 26px;
    height: 26px;
  }
  a svg:hover #git_stroke,
  a svg:hover #instagram_stroke,
  a svg:hover #twitter_stroke{
    fill: #f01716;
  }
  a svg #git_stroke,
  a svg #instagram_stroke,
  a svg #twitter_stroke{
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
  }
}
footer{
  height:10%;
}