/* Import default styles for all browsers */
@import "reset";
@import "mixins-media";
/* Import fonts */
@font-face {
  font-family: ApercuPro-Mono;
  src: url(../fonts/ApercuPro-Mono.otf);
}
/* Main styles for all containers */
html {
  height: 100%;
}
body {
  font-family: ApercuPro-Mono, sans-serif;
  background: #231f20;
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
/* Logo styles & animation */
.header{
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .section_title{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    opacity: 0;
  }
  .logo, .logo_header{
    display: flex;
    flex-direction: column;
    max-width: 145px;
    justify-content: center;
    height: 260px;
    margin-bottom: 80px;
    .logo-m{
      width: 144px;
      margin-left: -4px;
    }
    .path {
      stroke-dasharray: 3345;
      stroke-dashoffset: 3345;
      fill-opacity: 0;
    }
    .word_drow{
      fill-opacity: 0;
      fill: #ffffff;
    }
    #m{
      stroke-dasharray: 1140;
      stroke-dashoffset: 1140;
    }
    #a{
      stroke-dasharray: 963;
      stroke-dashoffset: 963;
    }
    #d{
      stroke-dasharray: 1005;
      stroke-dashoffset: 1005;
    }
    #d_2{
      stroke-dasharray: 784;
      stroke-dashoffset: 784;
    }
    #e{
      stroke-dasharray: 827;
      stroke-dashoffset: 827;
    }
    #v{
      stroke-dasharray: 746;
      stroke-dashoffset: 746;
    }
    #s{
      stroke-dasharray: 874;
      stroke-dashoffset: 874;
    }
  }
  .logo_header{
    position: fixed;
    left: 30px;
    top: 30px;
    height: auto;
    //display: none;
    opacity: 0;
    cursor: pointer;
    .logo-m{
      width: 50px;
      margin-left: -1px;
      svg{
        width: 100%;
      }
    }
    .path{
      fill-opacity: 1;
    }
    .word_drow_header{
      fill-opacity: 1;
      fill: #ffffff;
    }
    .logo-name_header{
      svg{
        width: 51px;
        height: auto;
        overflow: visible;
        fill: #fff;
      }
    }
  }
}
/* Styles for social icons */
.social_links{
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: space-around;
  svg{
    width: 23px;
    margin: 10px;
    fill: #918f90;
  }
  #github{
    height: 23px;
  }
  #instagram{
    height: 23px;
  }
  #twitter{
    width: 26px;
    height: 26px;
  }
  #medium{
    width: 24px;
  }
  a svg:hover #git_stroke,
  a svg:hover #instagram_stroke,
  a svg:hover #medium_stroke,
  a svg:hover #twitter_stroke{
    fill: #f01716;

  }
  a svg #git_stroke,
  a svg #instagram_stroke,
  a svg #medium_stroke,
  a svg #twitter_stroke{
    transition: all .3s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
  }
}
/* Sections styles */
section{
  max-width: 960px;
  width: 100%;
  .section_title{
    text-align: center;
    color: #ec2227;
    font-size: 22px;
    text-transform: lowercase;
    margin-top: 15%;
    margin-bottom: 40px;
    &#first_title{
      margin-bottom: 0;
    }
  }
  .section_content{
    display: flex;
    justify-content: space-around;;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 25px;
    @include for-size(phone-only){
      justify-content: space-around;
    }
    .section_text{
      color: #545454;
      line-height: 1.4;
    }
    .section_wrap{
      text-decoration: none;
      display: flex;
      align-items: center;
      flex-direction:column;
      min-width: 300px;
      max-width: 300px;
      margin: 30px 0 35px;

      &:hover{
        .section_text{
          color: #FFFFFF;
        }
        #namba-taxi{
          .nt0{fill:#FFFFFF;}
          .nt1{fill:#CC2128;}
        }
        #besmart{
          .bs0{
            fill:#4A71B5;
          }
        }
        #namba{
          .nb0{fill:#0085FE;}
          .nb1{fill:#F60B5F;}
          .nb2{fill:#F60B60;}
          .nb3{fill:#F60F62;}
        }
        #silkroadexplore{
          .sl0{fill:#2b4053;}
          .sl1{fill:#39B54A;}
        }
        #openfreecabs{
          path{fill: #fff;}
        }
        #yourcast{
          path{
            fill: #FF1F4F;
          }
        }
        #gopher{
          .l-h{
            fill: #F6D2A2;
            stroke: #000;
          }
          .l-f{
            stroke: #000;
            fill: #C6B198;
          }
          .g-e{
            stroke: #000;
            fill: #6AD7E5;
          }
          .g-f{
            fill: none;
            stroke: #000;
          }
          .g-a{
            fill: #000;
          }
          .g-w{
            fill: #ffffff;
            stroke: #000;
          }
          .g-b{
            fill: #F6D2A2;
            stroke: #231F20;
          }
        }
        #react{
          .react0{fill:#00D8FF;}
        }
        #django{
          .dj{fill:#105038;}
        }
        #swift{
          .sw{fill:#F05138;}
        }
        #android{
          .an{fill:#a4c639;}
        }
        #highload{
          .hgl{fill:red;}
          .hgl_black{fill:#fff;}
        }
        #DevFestSiberia{
          .dfs0{fill:#FCC300;}
          .dfs1{fill:#139752;}
          .dfs2{fill:#F0A70C;}
          .dfs3{fill:#5A7FBF;}
          .dfs4{fill:#D74134;}
          .dfs5{fill:#516EB3;}
          .dfs6{fill:#E0DBDA;}
          .dfs7{fill:#E6E6E5;}
        }
        #iprof{
          .cls-1{fill:#67ae24;}
          .cls-2{fill:#36a862;}
          .cls-3{fill:#219349;}
          .cls-4{fill:#35a32c;}
          .cls-5{fill:#e2003f;}
          .cls-6{fill:#0084c8;}
          .cls-7{fill:#0073b8;}
          .cls-8{fill:#f5a803;}
          .cls-9{fill:#ffffff;}
        }
        #mobi{
          .cls-1{fill:#e3202a;}
          .cls-2{fill:#125f73;}
        }
        #fosdem-logo{
          .fosdem-1{fill:#ae3292;}
          .fosdem-2{fill:#ffffff;}
        }
        #devcon{
          path{fill: #ffffff;}
        }
        #partic_open{
          .cls-1{fill:#63b5ef;}
          .cls-2{fill:#fff;}
        }
        #gdg{
          .st0{fill:none;}
          .st1{fill:#FFC107;}
          .st2{fill:#0F9D58;}
          .st3{opacity:0.2;fill:#BF360C;enable-background:new;}
          .st4{opacity:0.2;fill:#263238;enable-background:new;}
          .st5{opacity:0.2;fill:#FFFFFF;enable-background:new;}
          .st8{fill:#4285F4;}
          .st9{fill:#DB4437;}
          .st10{opacity:0.2;fill:#1A237E;enable-background:new;}
          .st11{opacity:0.2;fill:#3E2723;enable-background:new;}
          .st13{fill:#FFFFFF;}
        }
      }
    }
    .section_icon{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        path, ellipse{
          transition: all .5s;
          fill: #918f90;
        }
      }
      #partic_open{
        .cls-2{fill:#ddd;}
      }
      #gopher{
        ellipse{
          fill: #000;
        }
        .l-h{
          stroke: #000;
        }
        .l-f{
          stroke: #000;
        }
        .g-e{
          stroke: #000;
        }
        .g-f{
          stroke: #000;
        }
        .g-a{
          fill: #000;
        }
        .g-w{
          //fill: #ffffff;
          stroke: #000;
        }
        .g-b{
          stroke: #231F20;
        }
      }
    }
  }
  .section_text{
    color: rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 14px;
    transition: all .5s;
  }
  &.projects{
    .section_icon {
      height:60px;
      img {
        width: 140px;
      }
    }
  }
  &.using{
    @include for-size(tablet-portrait-up){
      .section_content{
        justify-content: space-around;
      }
    }
    .section_wrap{
      min-width: 160px;
      height: 90px;
      order: 1;
      &.django{
        order: 2;
      }
      .section_icon{
        padding-bottom: 25px;
        align-items: initial;
      }
    }
  }
  &.participate{
    .section_content{
      align-items: center;
      .section_wrap{
        min-width: 192px;
        margin: 20px;
        @include for-size(phone-only){
          .section_icon{
            height: auto;
            margin: 25px auto;
          }
        }
      }
    }
  }
  &.contacts{
    .section_content{
      align-items: center;
      margin: 5% 0 15px;
    }
    .phone, .email{
      color: #918f90;
      text-decoration: none;
      transition: all .5s;
      padding: 20px 0;
      width: 170px;
      @include for-size(phone-only){
        width: 100%;
        text-align: center;
      }
      &:hover{
        color: #ec2227;
        transition: all .5s;
      }
      &:active, &:focus{
        color: #918f90;
        text-decoration: none;
        outline: none;
      }
    }
    .email{
      text-align: center;
    }
    .social_links{
      margin: 0;
      width: 170px;
      opacity: 1 !important;
    }
  }
}
