// Reviews dots
.reviews .slick-dots {
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0;

  button {
    width: 36px;
    height: 10px;
    margin-top: -5px;
    opacity: 0;
    background-color: transparent;
    color: transparent;
    border: 0;
    cursor: pointer;
  }

  li {
    width: 36px;
    height: 3px;
    border-radius: 3px;
    background-color: rgba($bgcolor--white, 0.2);
    margin: 10px;
    list-style: none;
  }

  .slick-active {
    background: $bgcolor--white;
    outline: none;
  }
}

// Best Practices line numbers
.best-practices_wrap-title .line-number_text .line-number span {
  color: #3b3b3b;
  font-size: 14px;
  margin-top: 26px;
  font-family: 'FiraMono',
  sans-serif;

  @media only screen and (max-width: 480px) {
    margin-top: 21px;
  }

  &:last-child {
    position: relative;

    &::after {
      content: '}';
      position: absolute;
      right: -15px;
    }
  }
}

// Media
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 54px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}