// Colors
$bgcolor--white: #fff;
$bgcolor--black: #000;
$bgcolor--brown: #2c1c1c;
$bgcolor--grey: #e8e8e8;
$bgcolor--blue: #2F6499;
$text-color--white: #fff;
$text-color--black: #000;
$accent-color--red: #ec2227;
$gradient--red-orange: linear-gradient(112deg, #f34f53, #fc944e);
$border-color--grey: #e8e8e8;
$white-016: rgba(255, 255, 255, 0.16);

$default-border-radius: 3px;
$border-radius-100: 100%;