// Colors
$bgcolor--white: #fff;
$bgcolor--black: #000;
$bgcolor--brown: #2c1c1c;
$bgcolor--grey: #e8e8e8;
$bgcolor--grey-light: #ecedf0;
$bgcolor--grey-dark: #f4f5f7;
$bgcolor--blue: #2F6499;
$bgcolor--yellow: #fff7e8;
$bgcolor--yellow-light: #fffdf9;
$bgcolor--section-bg: #242424;


$text-color--white: #fff;
$text-color--black: #000;
$text-color--dark: #5e6c84;

$accent-color--red: #ec2227;
$gradient--red-orange: linear-gradient(112deg, #f34f53, #fc944e);
$border-color--grey: #e8e8e8;

$white-016: rgba(255, 255, 255, 0.16);
$dark-04: rgba(94, 108, 132, 0.4);

$jira-inprogress: #0052cc;
$jira-task: #4AADE8;
$jira-arrow--red: #EC2227;

$default-border-radius: 3px;
$border-radius-100: 100%;
$border-radius-10: 10px;