// Colors
$bgcolor--white: #fff;
$bgcolor--black: #000;
$bgcolor--grey: #e8e8e8;
$text-color--white: #fff;
$text-color--black: #000;
$accent-color--red: #ec2227;
$gradient--red-orange: linear-gradient(112deg, #f34f53, #fc944e);
$border-color--grey: #e8e8e8;