@mixin title($color, $size, $spacing) {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-feature-settings: 'zero' on, 'ordn' on, 'ss02' on, 'ss05' on;
  font-weight: 400;

  color: $color;
  font-weight: 600;
  font-size: $size;
  line-height: 130%;
  letter-spacing: $spacing;
}
