body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  transition: all .4s ease;
  background-color: #111213;
  font-family: 'Poppins-Regular', sans-serif;
  font-feature-settings: 'zero' on, 'ordn' on, 'ss02' on, 'ss05' on;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

* {
  outline: none !important;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.scrollDisabled {
  width: 100%;
  position: fixed;
  top: 0;
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Poppins/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/Poppins/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Poppins/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Poppins/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Poppins/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Poppins/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Poppins/poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/Poppins/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Poppins/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Poppins/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Poppins/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Poppins/poppins-v15-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Poppins/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/Poppins/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Poppins/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Poppins/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Poppins/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Poppins/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Inter-Regular';
  font-weight: 400;
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter/Inter-Regular.woff') format('woff');
  font-display: auto;
}

@font-face {
  font-family: 'Inter-Italic';
  font-weight: 400;
  src: url('../fonts/Inter/Inter-Italic.woff2') format('woff2'), url('../fonts/Inter/Inter-Italic.woff') format('woff');
  font-display: auto;
}

/* ibm-plex-mono-700 */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/IBMPlexMono/IBMPlexMono.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/IBMPlexMono/IBMPlexMono.woff') format('woff'), /* Modern Browsers */
  url('../fonts/IBMPlexMono/IBMPlexMono.ttf') format('truetype'); /* Safari, Android, iOS */
}
