@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700');

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  transition: all .4s ease;
  background-color: #111213;
  font-family: 'Poppins-Regular', sans-serif;
  font-feature-settings: 'zero' on, 'ordn' on, 'ss02' on, 'ss05' on;
  overflow-y: overlay; // removes the black line near scrollbar when Chrome browser is scaled > 100%
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

* {
  outline: none !important;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.img_lazy {
  opacity: 0;
}

.img_lazy-fade {
  transition: opacity 0.3s ease-in;
}

.scrollDisabled {
  overflow: hidden;
}

/* poppins-400normal - latin */
@font-face {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('~assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/Poppins/Poppins-Regular.woff') format('woff'), /* Modern Browsers */
    url('~assets/fonts/Poppins/Poppins-Regular.otf') format('otf'), /* Fancy Font Features */
    url('~assets/fonts/Poppins/Poppins-Regular.ttf') format('otf'); /* Fancy Font Features */
}

/* poppins-700normal - latin */
@font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('~assets/fonts/Poppins/Poppins-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/Poppins/Poppins-Bold.woff') format('woff'), /* Modern Browsers */
    url('~assets/fonts/Poppins/Poppins-Bold.otf') format('otf'); /* Fancy Font Features */
}

/* poppins-600normal - latin */
/* Get a problem with this font weight - can't add font-features for it. HAve removed woff2 and woff formats and includes
  font form Google-Font service. Doesn't do it for other font-weight - they are good;
*/
@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('~assets/fonts/Poppins/Poppins-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('~assets/fonts/Poppins/Poppins-Medium.woff') format('woff'), /* Modern Browsers */
    url('~assets/fonts/Poppins/Poppins-Medium.otf') format('otf'),
    url('~assets/fonts/Poppins/Poppins-Medium.ttf') format('ttf');
}
