@import 'vars';

.banner-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: $bgcolor--black;

  .banner-content {
    width: 100%;
    height: 100%;
    padding-top: 190px;
  }

  .banner-main_title {
    @include font('Poppins', 120px, 700);
    font-style: normal;
    line-height: 96%;
    letter-spacing: -0.04em;
    color: $text-color--black-lighter;
    -webkit-text-stroke: $text-stroke--white;

    .main-title-white_part {
      color: $text-color--white;
      -webkit-text-stroke: 0;
    }

    &--white,
    &--white-first {
      color: $text-color--white;
      -webkit-text-stroke: 0;
    }
  }

  .text-content_wrapper {
    display: flex;
  }
}

.title-md {
  @include font('Poppins', 40px, 700);
  letter-spacing: -1px;
}

.paragraph {
  @include font('Inter', 21px, 400);
  line-height: 129%;
  letter-spacing: -0.02em;
}

.paragraph-md,
.paragraph-sm {
  letter-spacing: -0.02em;
}

.paragraph-md {
  @include font('Inter', 16px, 400);
}

.paragraph-sm {
  @include font('Inter', 14px, 400);
}

// ----------- Form styles ----------- //
.form {
  display: flex;
  flex-direction: column;
}

.field-item {
  display: block;
  margin-bottom: 23px;
}

.field-name {
  @include font('Inter', 16px, 400);
  width: max-content;
  margin-bottom: 2px;
  color: $text-color--silver;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.013em;
}

.entry-field {
  @include font('Inter', 16px, 400);
  width: 100%;
  padding: 17px 19px;
  border-radius: 4px;
  line-height: 24px;
  letter-spacing: -0.013em;
  box-sizing: border-box;
  background-color: $input-bgcolor--grey-dark;
  border: 1px solid $border-color--grey-pale;
  color: $text-color--white-primary;
  outline: none;

  &::placeholder {
    color: $input-placeholder-text--grey-dark;
  }

  &:focus {
    border-color: $border-color--grey-selected;
  }

}

.required {
  &::after {
    content: '*';
    padding-left: 4px;
    color: $text-color--red;
    position: absolute;
  }
}

.form-checkboxes {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 30px;
}

.form-checkbox-label {
  @include font('Inter', 15px, 400);
  position: relative;
  padding-left: 30px;
  line-height: 22px;
  letter-spacing: -0.013em;
  color: $text-color--grey-pale;
  user-select: none;
  cursor: pointer;

  &:first-child {
    margin-bottom: 22px;
  }

  input:checked ~ .checkmark {
    background: url('../img/common/checkmark.svg') no-repeat center;
    background-color: $input-bgcolor--grey-light;
  }

  a,
  div {
    color: $label-text--grey-dark;
    white-space: nowrap;
  }

  div {
    display: inline;
  }
}

.form-checkbox-input {
  display: none;
}

.checkmark {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: 4px;
  background-color: $input-bgcolor--grey-light;
}

// ----------- Modal window ----------- //
.error-text {
  display: block;
  margin-top: 3px;
  color: $text-color--red;
  @include font('Inter', 14px, 400);
}

.textarea {
  height: 54px;
  max-height: 192px;
  min-height: 60px;
  overflow: hidden;
  resize: vertical;
}

.invalid {
  background-color: $input-invalid--bg;
  color: $text-color--grey-light;

  &::placeholder {
    color: $text-color--grey-light;
  }
}

.modal-button {
  height: 60px;
}

// --------------- Global media styles ---------------- //
@media only screen and (max-width: 1620px) {
  .banner-container {
    .text-content_wrapper {
      display: flex;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .banner-container {
    .banner-main_title,
    .banner-main_title--white,
    .banner-main_title--white-first {
      font-size: 108px;
    }
  }
}

@media screen and (max-width: 1140px) {
  .banner-container {
    .banner-main_title,
    .banner-main_title--white,
    .banner-main_title--white-first {
      font-size: 90px;
      line-height: 101%;
      letter-spacing: -0.04em;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .paragraph {
    font-size: 19px;
  }

  .paragraph-md {
    font-size: 14px;
  }

  .paragraph-sm {
    font-size: 12px;
  }
}

@media only screen and (max-width: 991px) {
  .banner-container {
    .banner-content {
      padding-top: 85px;
    }
  }
}

@media only screen and (max-width: 970px) {
  .banner-container {
    .banner-main_title,
    .banner-main_title--white,
    .banner-main_title--white-first {
      font-size: 74px;
      line-height: 96%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .title-md {
    font-size: 28px;
  }

  .banner-container {
    .banner-main_title,
    .banner-main_title--white,
    .banner-main_title--white-first {
      font-size: 77px;
      letter-spacing: -5px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .paragraph {
    letter-spacing: -1px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 610px) {
  .banner-container {
    .banner-main_title--white-first {
      display: inline;
    }
  }
}

@media only screen and (max-width: 576px) {
  .banner-container {
    .banner-main_title,
    .banner-main_title--white,
    .banner-main_title--white-first {
      font-size: 50px;
      line-height: 101%;
      letter-spacing: -0.03em;
    }
  }
}

@media only screen and (max-width: 520px) {
  .form-checkboxes {
    br {
      display: none;
    }
  }
}

@media only screen and (max-width: 375px) {
  .title-md {
    font-size: 36px;
  }
}

@media only screen and (max-width: 370px) {
  .form-checkbox-label {
    padding-left: 29px;
  }

  .required {
    &::after {
      padding-left: 0;
    }
  }
}

@media only screen and (max-width: 340px) {
  .banner-container {
    .banner-main_title,
    .banner-main_title--white,
    .banner-main_title--white-first {
      font-size: 40px;
    }
  }
}

// --------- Wave ------------ //
.wave {
  position: absolute;
  background: rgba(255, 255, 255, 0.43);
  z-index: -1;
}

.wave--dark {
  background: var(--black-014) !important;
}

.waves {
  opacity: 0;
  z-index: 1;
  width: 10px;
  height: 10px;
  transform: scale(1);
  border-radius: 100rem;
  animation: waves .5s linear;
}

// Drift button
.drift-conductor-item {
  bottom: 24px !important;
  z-index: 1 !important;
}

@keyframes waves {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(30);
    opacity: 0;
  }
}

@-moz-keyframes waves {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(30);
  }
}

@-webkit-keyframes waves {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(30);
    opacity: 0;
  }
}

@-o-keyframes waves {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(30);
  }
}
