@mixin social-network-icon {
  background-repeat: no-repeat;
  background-position: center;
}

@mixin social-network-facebook {
  @include social-network-icon;
  background-image: url('data:image/svg+xml;charset=UTF-8,\ <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><path d="M33 21.073C33 14.405 27.627 9 21 9S9 14.405 9 21.073C9 27.1 13.388 32.094 19.125 33v-8.437h-3.047v-3.49h3.047v-2.66c0-3.026 1.791-4.697 4.533-4.697 1.313 0 2.686.236 2.686.236v2.971H24.83c-1.491 0-1.956.93-1.956 1.886v2.264h3.328l-.532 3.49h-2.796V33C28.612 32.094 33 27.1 33 21.073z" fill="rgb(150, 150, 156)"/></svg>');
}

@mixin social-network-twitter {
  @include social-network-icon;
  background-image: url('data:image/svg+xml;charset=UTF-8,\ <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><path d="M16.548 30.505c9.057 0 14.01-7.503 14.01-14.01 0-.213-.005-.425-.014-.637A10.013 10.013 0 0033 13.308a9.82 9.82 0 01-2.828.776 4.943 4.943 0 002.166-2.723 9.877 9.877 0 01-3.127 1.195 4.925 4.925 0 00-8.39 4.49 13.982 13.982 0 01-10.15-5.145 4.91 4.91 0 00-.668 2.475 4.92 4.92 0 002.192 4.099 4.887 4.887 0 01-2.23-.616l-.001.063a4.925 4.925 0 003.95 4.827 4.93 4.93 0 01-2.224.084 4.929 4.929 0 004.6 3.42 9.878 9.878 0 01-6.115 2.108c-.397 0-.79-.023-1.175-.068a13.938 13.938 0 007.548 2.212" fill="rgb(150, 150, 156)"/></svg>');
}

@mixin social-network-linkedin {
  @include social-network-icon;
  background-image: url('data:image/svg+xml;charset=UTF-8,\ <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><path d="M29.283 29.449h-3.556V23.88c0-1.328-.024-3.037-1.85-3.037-1.851 0-2.135 1.446-2.135 2.94v5.665h-3.556V17.997H21.6v1.565h.048a3.742 3.742 0 013.368-1.85c3.604 0 4.269 2.37 4.269 5.455l-.002 6.282zM14.173 16.43a2.063 2.063 0 110-4.126 2.063 2.063 0 010 4.126zm1.779 13.018h-3.56V17.997h3.56v11.452zM31.056 9.002h-20.45a1.751 1.751 0 00-1.772 1.73v20.535A1.753 1.753 0 0010.605 33h20.451a1.756 1.756 0 001.778-1.732V10.73A1.755 1.755 0 0031.056 9" fill="rgb(150, 150, 156)"/></svg>');
}
