// ---------- Background  ------------ //
$bgcolor--white: #f5f7f9;
$bgcolor--white-primary: #ffffff;
$bgcolor--white-transparent: rgba(245, 247, 249, 0.5);
$bgcolor--black: #111213;
$bgcolor--black-oil: #101113;
$bgcolor--black-light: #ffffff1a;
$bgcolor--black-lighten: #222222;
$bgcolor--black-lighten-pale: #202020;
$bgcolor--grey: #96969C;
$bgcolor--grey-light: #f2f2f2;
$bgcolor--grey-pale: #c4c4c4;
$bgcolor--grey-dark: #f4f5f7;
$bgcolor--grey-extra-dark: #e7e7e7;
$bgcolor--red: #ec1c24;
$bgcolor--project-white: #f8f7f6;
$bgcolor--project-indigo: #56448E;
$bgcolor--project-blue: #0E1B27;
$bgcolor--project-orange: #FF6A01;
$bgcolor--white-darken: #fcfcfd;
$bgcolor--pink: #cc0a6a;
$bgcolor--silver: #f4f4f4;
$bgcolor--gold: #b19a5a;
$bgcolor--black-opacity-07: rgba(0, 0, 0, 0.7);
$bgcolor--yourcast-banner: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #454545;
$bgcolor--skeleton-gradient-dark: linear-gradient(90deg, rgba(48, 50, 54, 0.7), #131010 0%, rgba(48, 50, 54, 0.7) 20%, rgba(48, 50, 54, 0.7) 60%, #131010 100%);
$bgcolor--skeleton-gradient-light: linear-gradient(90deg, #FFFFFF 0%, #EFEFF4 30%, #FFFFFF 100%);
$bgcolor--sound-control: rgba(64, 65, 67, 0.5);
$bgcolor--header-gradient: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.991353) 6.67%, rgba(0, 0, 0, 0.96449) 13.33%, rgba(0, 0, 0, 0.91834) 20%, rgba(0, 0, 0, 0.852589) 26.67%, rgba(0, 0, 0, 0.768225) 33.33%, rgba(0, 0, 0, 0.668116) 40%, rgba(0, 0, 0, 0.557309) 46.67%, rgba(0, 0, 0, 0.442691) 53.33%, rgba(0, 0, 0, 0.331884) 60%, rgba(0, 0, 0, 0.231775) 66.67%, rgba(0, 0, 0, 0.147411) 73.33%, rgba(0, 0, 0, 0.0816599) 80%, rgba(0, 0, 0, 0.03551) 86.67%, rgba(0, 0, 0, 0.0086472) 93.33%, rgba(0, 0, 0, 0) 100%);
$bgcolor--blue: #137bce;

// ---------- Text ------------ //
$text-color--white: #f5f7f9;
$text-color--white-primary: #ffffff;
$text-color--white-darken: #fcfcfd;
$text-color--white-transparent: rgba(255, 255, 255, 0.7);
$text-color--black: #000;
$text-color--black-oil: #101113;
$text-color--quote-box: #404143;
$text-color--black-lighter: #111213;
$text-color--grey: #96969c;
$text-color--grey-light: #f2f2f2;
$text-color--grey-cases: #cfcfd0;
$text-color--grey-pale: #707072;
$text-color--red: #ec1c24;
$text-color--red-opacity: rgba(236, 28, 36, 0.5);
$text-color--grey-form-placeholder: #6E6E73;
$text-color--grey-opacity-40-percent: #a0a0a1;
$text-color--tech-label-black: #232323;
$text-color--grey-img-description: #a4a8b4;
$text-color--silver: #f4f4f4;
$text-color--blue: #137bce;
$text-stroke--white: 1.5px #f2f2f2;
$text-stroke--red: 1.5px #ec1c24;
$text-stroke--black: 1.5px #000;


// ---------- Border ------------ //
$border-color--grey: #96969c;
$border-color--black: #111213;
$border-color--white: #fff;
$border-color--grey-light: #e8e8e8;
$border-color--red: #ec1c24;
$border-color--red-opacity: rgba(236, 28, 36, 0.5);
$border-color--grey-dark-transparent: rgba(150, 150, 156, 0.2);
$border-color--grey-light: #f2f2f2;
$border-color--grey-dark: #3b3b3b;
$border-color--grey-form: #333333;
$border-color--grey-cases: #d7dde1;
$border-color--grey-20-percent: #cfcfd0;
$border-color--silver: #f4f4f4;
$border-color--grey-02-opacity: rgba(160, 160, 161, 0.2);
$border-color--white-02-opacity: rgba(255, 255, 255, 0.2);
$border-color--white-03-opacity: rgba(255, 255, 255, 0.3);
$border-color--grey-input: #404143;
$border-color--black-border-03-opacity: rgba(16, 17, 19, 0.3);

// ---------- Border radius ------------ //
$form-border-radius: 7px;
$form-border-radius-6: 6px;
$form-border-radius-4: 4px;
$form-border-radius-2: 2px;

// ---------- Custom scroll ----------- //
$black02: rgba(0, 0, 0, 0.2);
$white-02: rgba(255, 255, 255, 0.2);

// ---------- Input ------------ //
$input-bgcolor--grey-dark: rgba(150, 150, 156, 0.2);
$input-invalid--bg: rgba(236, 28, 36, 0.2);
$input-placeholder-text--grey-dark: rgba(150, 150, 156, 0.5);
$input-checkmark-bg: #1e1e1f;

// ---------- Project page hover colors ------------ //
$project-hover-bg-color--blue-dimmed: #5163F0;
$project-hover-bg-color--blue: #001DFF;
$project-hover-bg-color--blue-light: #0027E7;
$project-hover-bg-color--blue-soft: #00aaff;
$project-hover-bg-color--black: #000000;
$project-hover-bg-color--dark: #2b2527;
$project-hover-bg-color--violet: #6D4BE5;
$project-hover-bg-color--pink: #F70259;
$project-hover-bg-color--pink-dimmed: #ff005b;
$project-hover-bg-color--pink-soft: #ffadca;
$project-hover-bg-color--white: #fff;

// ---------- Button ------------ //
$button-bgcolor--red: #ec1c24;
$button-active--red: #ca1920;
$button-active-border--red: #ca1920;
$button-border--white-opacity: rgba(255, 255, 255, 0.5);

// ---------- Footer specific colors ------------ //
$footer--text-decoration-color: rgba(196, 196, 196, 0.3);
$footer--border-color--grey-light: rgba(196, 196, 196, 0.3);

// ---------- Header specific colors ------------ //
$header-red-border-color: rgba(236, 28, 36, 0.5);
$header-grey-border-color: rgba(164, 168, 180, 0.4);

// ---------- Modal ------------ //
$modal-overlay-bg-color: #0d0d0dc7;
$modal-bg-color: #251E1E;
$modal-entry-field-bg: #403838;

// ---------- Other ------------ //
$label-text--grey-dark: rgba(150, 150, 156, 0.7);
$slider-dots-bg-color-white: #eff3f6;
$slider-dots-bg-color-black: #000;
$quick-project-description-color: #c5c3cc;
$remote-tech-staff-sub-title-grey: #d7dde1;
$software-icon-text-color: #a4a8b4;
$software-icon-background: #eef0f2;
$our-valued-icon-background: #191A1B;

@mixin h2_title {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;
  letter-spacing: -1px;
  padding-top: 96px;
  padding-bottom: 24px;

  @media screen and (max-width: 834px) {
    font-size: 36px;
    padding-top: 72px;
  }

  @media screen and (max-width: 578px){
    padding-top: 48px;
  }
}

@mixin h3_title {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -1px;
  padding-top: 102px;
  padding-bottom: 22px;

  @media screen and (max-width: 834px) {
    font-size: 28px;
    padding-top: 78px;
  }

  @media screen and (max-width: 578px) {
    padding-top: 54px;
  }
}
