// ---------- Background  ------------ //
$bgcolor--white: #fff;
$bgcolor--black: #000;
$bgcolor--grey: #96969C;
$bgcolor--grey-light: #f2f2f2;
$bgcolor--grey-dark: #f4f5f7;
$bgcolor--red: #ec1c24;
$bgcolor--project-white: #f8f7f6;
$bgcolor--project-indigo: #56448E;
$bgcolor--project-blue: #0E1B27;
$bgcolor--project-orange: #FF6A01;

// ---------- Text ------------ //
$text-color--white: #fff;
$text-color--black: #000;
$text-color--grey: #96969c;
$text-color--grey-light: #f2f2f2;
$text-color--grey-dark: #777777;
$text-color--red: #ec1c24;
$text-color--red-opacity: rgba(236, 28, 36, 0.7);
$text-stroke--white: 1.5px #f2f2f2;
$text-stroke--red: 1.5px #ec1c24;
$text-stroke--black: 1.5px #000;
$text-color--blue: #0077b5;
$text-color--yellow: #fcA625;
$text-color--green: #3ea84d;

// ---------- Border ------------ //
$border-color--grey: #96969c;
$border-color--grey-godee-case: #c4c4c4;
$border-color--black: #000;
$border-color--grey-light: #e8e8e8;
$border-color--red: #ec1c24;
$border-color--grey-dark-transparent: rgba(150, 150, 156, 0.2);
$border-color--grey-light: #f2f2f2;
$border-color--grey-dark: #3b3b3b;

// ---------- Border radius ------------ //
$form-border-radius: 7px;
$form-border-radius-6: 6px;
$form-border-radius-4: 4px;
$form-border-radius-2: 2px;

// ---------- Custom scroll ----------- //
$black02: rgba(0, 0, 0, 0.2);
$white-02: rgba(255, 255, 255, 0.2);

// ---------- Input ------------ //
$input-bgcolor--grey-dark: rgba(150, 150, 156, 0.2);
$input-invalid--bg: rgba(236, 28, 36, 0.2);
$input-placeholder-text--grey-dark: rgba(150, 150, 156, 0.5);
$input-checkmark-bg: #1e1e1f;

// ---------- Project page hover colors ------------ //
$project-hover-bg-color--blue-dimmed: #5163F0;
$project-hover-bg-color--blue: #001DFF;
$project-hover-bg-color--blue-light: #0027E7;
$project-hover-bg-color--blue-soft: #00aaff;
$project-hover-bg-color--black: #000000;
$project-hover-bg-color--dark: #2b2527;
$project-hover-bg-color--violet: #6D4BE5;
$project-hover-bg-color--pink: #F70259;
$project-hover-bg-color--pink-dimmed: #ff005b;
$project-hover-bg-color--pink-soft: #ffadca;
$project-hover-bg-color--white: #fff;

// ---------- Button ------------ //
$button-bgcolor--red: #ec1c24;
$button-active--red: #ca1920;
$button-active-border--red: #ca1920;

// ---------- Footer specific colors ------------ //
$footer--text-decoration-color: rgba(196, 196, 196, 0.3);
$footer--border-color--grey-light: rgba(196, 196, 196, 0.3);

// ---------- Modal ------------ //
$modal-overlay-bg-color: #0d0d0dc7;
$modal-bg-color: #251E1E;
$modal-entry-field-bg: #403838;

// ---------- Cookie notice ------------ //
$cookie-bg-color: #181818;

// ---------- Other ------------ //
$label-text--grey-dark: rgba(150, 150, 156, 0.7);
$slider-dots-bg-color-white: #eff3f6;
$slider-dots-bg-color-black: #000;


// ---------- GoDee page ------------ //
$accent-orange-text-color: #FF6900;
$svg-orange: #FF6900;
$svg-gray: #9f9f9f;