.case {
  &_title_h2 {
    @include title($text-color--black-cases, 41.5px, -0.04em);
  }

  &_title_h3 {
    @include title($text-color--black-cases, 33.2px, -0.04em);
  }

  &_title_h4 {
    @include title($text-color--black-cases, 26.56px, -0.03em);
  }

  &_title_h5 {
    @include title($text-color--black-cases, 21.25px, -0.02em);
  }

  &_link {
    @include default_text($text-color--black-cases, 17px, 166%, -0.035em, normal);
  }

  &_full-screen-video,
  &_full-screen-image,
  &_gif {
    max-width: 1440px;
  }

  &_full-screen-video,
  &_gif {
    display: block;
    margin: 0 auto;
  }

  &_gif {
    width: 100%;
    height: 100%;
  }

  &_box-shadow {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.05), 0px 5.47001px 41.35px rgba(0, 0, 0, 0.1);
  }

  &_text-align-center {
    text-align: center;
  }
}