.container_regular {
  max-width: 817px;
  padding: 0 90px;
  margin-right: auto;
  margin-left: auto;
}

.container_middle {
  max-width: 1026px;
  padding: 0 90px;
  margin-right: auto;
  margin-left: auto;
}

.container_full {
  max-width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

$spaces: (
  '8': 8px,
  '12': 12px,
  '24': 24px,
  '28': 28px,
  '48': 48px,
  '56': 56px,
  '72': 72px,
  '78': 78px,
  '96': 96px
);

$backgroundColors: (
  'red': #ee6664,
  'black': #111213,
  'turquoise': #46A393,
  'silver': #f4f4f4,
  'berry': #f55876
);

  // loop, to style Legends
@each $name, $variable in $spaces {
// selector based on class name
  .p-#{$name}_top {
    padding-top: $variable;
  }

  .m-#{$name}_top {
    margin-top: $variable;
  }

  .p-#{$name}_bottom {
    padding-bottom: $variable;
  }

  .m-#{$name}_bottom {
    margin-bottom: $variable;
  }
}

// loop, to style cards
@each $name, $variable in $backgroundColors {
  // selector based on class name
  .background-color-#{$name} {
    background-color: $variable;
  }
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}
