@import "../vars";

@mixin title($color, $size, $spacing) {
  @include font('Poppins', $size, 600);
  font-style: normal;
  font-feature-settings: 'zero' on, 'ordn' on, 'ss02' on, 'ss05' on;

  color: $color;
  line-height: 130%;
  letter-spacing: $spacing;
}

@mixin default_text($color, $size, $height, $spacing, $weight) {
  @include font('Inter', $size, $weight);
  color: $color;
  font-style: normal;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin italic_text($color, $size, $height, $spacing) {
  @include font('Inter', $size, 400);
  color: $color;
  font-style: italic;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin list-item_box($backgroundColor, $padding, $borderRadius) {
  position: relative;
  margin-bottom: 16px;
  padding: $padding;
  border-radius: $borderRadius;
  background-color: $backgroundColor;
  list-style-type: none;

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin grid($columnsTemplate, $rowsTemplate, $columnGap, $rowGap) {
  display: grid;
  grid-template-columns: $columnsTemplate;
  grid-template-rows: $rowsTemplate;
  grid-column-gap: $columnGap;
  grid-row-gap: $rowGap;
}

@mixin card($width, $height, $padding, $borderRadius) {
  width: $width;
  height: $height;
  padding: $padding;
  border-radius: $borderRadius;
}
