@import "../vars";
@import "./icons";

@mixin title($color, $size, $spacing) {
  font-family: 'Poppins-Medium', sans-serif;
  font-style: normal;
  font-feature-settings: 'zero' on, 'ordn' on, 'ss02' on, 'ss05' on;

  color: $color;
  font-weight: 600;
  font-size: $size;
  line-height: 130%;
  letter-spacing: $spacing;
}

@mixin default_text($color, $size, $height, $spacing, $weight) {
  color: $color;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin italic_text($color, $size, $height, $spacing) {
  color: $color;
  font-family: Inter, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin list-item_box($backgroundColor, $padding, $borderRadius) {
  position: relative;
  margin-bottom: 16px;
  padding: $padding;
  border-radius: $borderRadius;
  background-color: $backgroundColor;
  list-style-type: none;

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin grid($columnsTemplate, $rowsTemplate, $columnGap, $rowGap) {
  display: grid;
  grid-template-columns: $columnsTemplate;
  grid-template-rows: $rowsTemplate;
  grid-column-gap: $columnGap;
  grid-row-gap: $rowGap;
}

@mixin card($width, $height, $padding, $borderRadius) {
  width: $width;
  height: $height;
  padding: $padding;
  border-radius: $borderRadius;
}
