.case {
  &_header {
    background-color: $bgcolor--black-opacity-07;

    &:before {
      background-image: url("../../assets/img/Cases/sjmc/jpg/sjmc-main-video-preview.jpg");
    }
  }

  &_sjmc-logo {
    width: 242px;
    height: 110px;
    margin-left: 177px;
    margin-top: -95px;
  }

  &_play-button {
    z-index: 1;
    display: flex;
    align-items: center;
    margin-top: 59px;
    padding: 0;
    border: 0;
    background: none;
    @include default_text($text-color--white-primary, 13px, 166%, -0.02em, normal);
    cursor: pointer;
  }

  &_play-icon {
    @include play-header;
    width: 14px;
    height: 14px;
    margin-right: 16px
  }

  &_column-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;

    @media screen and (max-width: 790px) {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 25px;
    }
  }

  &_full-screen-img,
  &_full-screen-slider {
    max-width: 1440px;
  }

  &_sjmc-phone-video-section {
    position: relative;
    padding: 60px 0;
  }

  &_sjmc-phone-video-wrapper {
    width: 23%;
    max-width: 340px;
    min-width: 225px;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      width: calc(100% + 10px);
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url("../../assets/img/Cases/sjmc/png/bluetooth-beacons-video-background.png");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    &--on-pause {
      &::after {
        content: '';
        width: 8vw;
        height: 8vw;
        max-width: 110px;
        max-height: 110px;
        min-width: 80px;
        min-height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include play-button-white;
      }
    }

    @media screen and (max-width: 360px) {
      min-width: 280px;
    }
  }

  &_mobile-break {
    display: none;
  }

  @media screen and (max-width: 1250px) {
    &_sjmc-logo {
      margin-left: 102px;
    }
  }

  @media screen and (max-width: 1170px) {
    &_sjmc-logo {
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 38px;
    }
  }

  @media screen and (max-width: 1024px) {
    &_play-button {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    &_sjmc-phone-video-section {
      padding: 50px 0;
    }
  }

  @media screen and (max-width: 655px) {
    &_sjmc-logo {
      width: 143px;
      height: 65px;
      margin-bottom: 35px;
    }
  }

  @media screen and (max-width: 420px) {
    &_mobile-break {
      display: block;
    }
  }

  @media screen and (max-width: 370px) {
    &_sjmc-logo {
      margin-bottom: 25px;
    }
  }
}
