body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h5 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 60px;
}

// #region Fonts
@font-face {
  font-family: 'MADEEvolveSans-light';
  src: url('../fonts/MADEEvolveSans-light.otf') format('truetype');
}
@font-face {
  font-family: 'MADEEvolveSans-bold';
  src: url('../fonts/MADEEvolveSans-bold.otf') format('truetype');
}
@font-face {
  font-family: 'MADEEvolveSans-regular';
  src: url('../fonts/MADEEvolveSans-regular.otf') format('truetype');
}
