body {
    margin: 0;
    padding: 0;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h5 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}
* {
  outline: none !important;
}

//----------- Base classes ------------ //
.container {
  margin: 0 60px;
}
.sec-title {
  width: 100%;
  font-family: 'MADEEvolveSans-bold';
  font-size: 44px;
  text-align: center;
}
//----------- End Base classes ------------ //

// #region Fonts
@font-face {
  font-family: 'MADEEvolveSans-light';
  src: url('../fonts/MADEEvolveSans-light.otf') format('truetype');
}
@font-face {
  font-family: 'MADEEvolveSans-bold';
  src: url('../fonts/MADEEvolveSans-bold.otf') format('truetype');
}
@font-face {
  font-family: 'MADEEvolveSans-regular';
  src: url('../fonts/MADEEvolveSans-regular.otf') format('truetype');
}
@font-face {
  font-family: 'MADEEvolveSans-medium';
  src: url('../fonts/MADEEvolveSans-medium.otf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Monaco';
  src: url('../fonts/Monaco/Monaco.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraMono';
  src: url('../fonts/FiraMono/FiraMono-Regular.ttf') format('truetype');
}
