.footer {
  background-color: #242424;
  &-wrap {
    border-top: 1px solid #3b3b3b;
    &_list {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 60px 0 50px;
      &-links--fake {
        display: none;
      }
      &-links {
        width: 33%;
        padding: 0 10px;
        box-sizing: border-box;
        .footer-links {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        h5 {
          text-transform: uppercase;
          line-height: 1.6;
          letter-spacing: 0.2px;
          color: rgba(255, 255, 255, 0.6);
          font-family: 'MADEEvolveSans-bold', sans-serif;
          margin-bottom: 20px;
        }
        a {
          color: #fff;
          font-size: 16px;
          font-family: 'MADEEvolveSans-regular', sans-serif;
          text-decoration: none;
          line-height: 2;
        }
      }
    }
  }
  &-copyright {
    // border-top: 1px solid #3b3b3b;
    padding: 0 0 30px;
    p {
      width: 100%;
      text-align: center;
      line-height: 2.14;
      letter-spacing: -0.3px;
      font-size: 14px;
      font-family: 'MADEEvolveSans-regular', sans-serif;
      color: #ffffff;
      img {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .footer {
    &-wrap {
      &_list {
        flex-wrap: wrap;
        padding: 60px 0 0;
        &-links--fake {
          display: block;
        }
        &-links {
          margin-bottom: 80px;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    &-wrap {
      &_list {
        /* flex-direction: column; */
        &-links {
          width: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    &-wrap {
      &_list {
        flex-direction: column;
        &-row {
          width: 100%;
          flex-direction: column;
          &:first-child {
            margin-bottom: 50px;
          }
        }
        &-links {
          width: 100%;
          text-align: center;
          margin-bottom: 40px;
          .footer-links {
            display: block;
          }
          h5 {
            width: 100%;
            font-size: 14px;
          }
          a {
            padding: 0 12px;
            white-space: nowrap;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
