.header {
  width: 100%;
  position: absolute;
  z-index: 2;
  padding-top: 30px;
  &-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &_right-block {
      display: flex;
      align-items: center;
      padding: 24px 0;
      .header_soc-icons {
        a {
          display: inline-block;
          margin-right: 18px;
          img {
            display: block;
          }
        }
      }
    }
  }
  &-logo {
    width: 40px;
    height: 70px;
  }
  .mobile-menu_btn {
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-family: 'MADEEvolveSans-regular', sans-serif;
    border: none;
    cursor: pointer;
    padding: 0 0 6px;
  }
}
