@media only screen and (max-width: 1200px) {
    .banner {
        &-title {
            h1 {
                font-size: 36px;
            }
        }
    }
    .open-source {
        &_wrap {
            &-projects {
                &_list {
                    &-item {
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    .banner {
        &-title {
            margin-top: 200px;
            margin-right: 30px;
        }
        &-slack {
            width: 516px;
            margin-top: 200px;
            &_sidebar {
                display: none;
            }
            &_content {
                &-title {
                    height: 30px;
                    img {
                        display: block;
                    }
                    .open-slack-menu {
                        display: block;
                    }
                }
            }
        }
    }
    .how-it-work {
        padding: 160px 0 0; 
        &_wrap {
            &-content {
                &-slider {
                    min-width: 437px;
                }   
            }
        }
    }
    .best-practices {
        &_wrap {
            &-preview {
                min-width: 437px;
            }
        }
    }
    .open-source {
        &_wrap {
            &-github {
                .github-link {
                    width: 100%;
                    margin-bottom: 60px;
                    &_desc {
                        a {
                            font-size: 18px;
                            margin: 0;
                        }
                    }
                }
                .github-info {
                    p {
                        font-size: 16px;
                    }
                }
            }
            &-projects {
                &_list {
                    margin-left: 60px;
                    margin-right: 60px;
                    &-item {
                        height: 350px;
                        .projects-img_wrap {
                            height: 80px;
                            margin-bottom: 50px;
                            .op-img-opensourse {
                                height: 78px;
                            }
                            .op-img-madpwa {
                                height: 27px;
                            }
                            .op-img-mlm {
                                height: 79px;
                            }
                            .op-img-sf {
                                height: 92px;
                            }
                        }
                        .projects-desc_wrap {
                          h4 {
                            font-size: 20px;
                          }
                          p {
                            font-size: 16px;
                          }
                        }
                    }
                }
            }
        }
    }
    .contacts {
        &-wrap {
            &_list {
                &-item {
                    p {
                        font-size: 18px;
                    }
                    a {
                        font-size: 18px;
                    }
                }
                .phone-mail {
                    width: 33%;
                    a {
                        margin-right: 0;
                        &:last-child {
                            float: right;
                        }
                    }
                    &_wrap {
                        white-space: nowrap;
                    }
                }
                .social-icons {
                    a {
                        margin-right: 6px;
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    .open-source {
        &_wrap {
            &-projects {
                &_list {
                    flex-wrap: wrap;
                    margin-left: 0;
                    margin-right: 0;
                    border: 0;
                    .op-proj-2 {
                        border-bottom-width: 0;
                    }
                    .op-proj-3 {
                        border-right-width: 0;
                    }
                    &-item {
                        width: 50%;
                        height: 450px;
                        padding: 0 72px;
                        box-sizing: border-box;
                        border: 1px solid #e8e8e8;
                        &:first-child {
                            border-right-width: 0;
                            border-bottom-width: 0;
                        }
                        .projects-img_wrap {
                            height: 100px;
                            margin-bottom: 60px;
                            .op-img-opensourse {
                                height: 100px;
                            }
                            .op-img-madpwa {
                                height: 36px;
                            }
                            .op-img-mlm {
                                height: 100px;
                            }
                            .op-img-sf {
                                height: 100px;
                            }
                        }
                        .projects-desc_wrap {
                          h4 {
                            font-size: 22px;
                          }
                          p {
                            font-size: 20px;
                          }
                        }
                    }
                }
            }
        }
    }
    .partners {
        &_wrap {
            &-icons {
                &_row {
                    a {
                        width: 33%;
                        text-align: center !important;
                    }
                    .last-icon {
                        width: 100%;
                    }
                    .partner-icon-fake {
                        display: none;
                    }
                }
            }
        }
    }
    .contacts {
        &-wrap {
            &_list {
                .phone-mail {
                    &_wrap {
                        display: flex;
                        flex-direction: column;
                        a {
                            &:first-child {
                                margin-bottom: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .press {
        &-wrap {
            flex-direction: column;
            align-items: center;
            &_item {
                width: 430px;
                max-width: 430px;
                &:first-child {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
@media only screen and (max-width: 830px) {
    #go-down {
      width: 100%;
      margin: 0;
      margin-top: 30px;
    }
    .banner {
        &-wrap {
            flex-direction: column;
            align-items: center;
        }
        &-title {
            width: 100%;
            margin: 133px 0 40px;
            h1 {
                font-size: 49px;
            }
        }
        &-slack {
            width: 100%;
            margin: 0;
            &_sidebar {
                display: flex;
            }
        }
    }
    .how-it-work {
        &_wrap {
            &-content {
                .container {
                    flex-direction: column;
                }
                &-slider {
                    width: 100%;
                    order: 0;
                }
                &-title {
                    width: 100%;
                    margin: 0;
                    order: 1;
                    margin-top: 80px;
                }
            }
        }
    }
    .best-practices {
        &_wrap {
            flex-direction: column;
            &-preview {
                width: 100%;
            }
            &-title {
                width: 100%;
                margin: 0;
                margin-top: 60px;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .how-it-work {
      padding: 80px 0 0;
      &_wrap {
            &-content {
                margin-top: 80px;
            }
            p {
                font-size: 16px;
                margin-top: 10px;
                padding: 0 15px;
            }
        }
    }
    .weUse {
      padding: 160px 0;
      &_wrap {
        &-list {
          flex-direction: column;
          &_column {
              width: 100%;
          }
          &-item {
              width: 100%;
              margin-top: 60px;
          }
        }
      }
    }
    .contacts {
        &-wrap {
            &_list {
                flex-wrap: wrap;
                &-item {
                    p {
                        font-size: inherit;
                    }
                    a {
                        font-size: initial;
                    }
                }
                .address {
                    width: 33%;
                }
                .phone-mail {
                    width: 66%;
                    white-space: nowrap;
                    a {
                        white-space: nowrap;
                        margin-right: 0;
                        font-size: 20px;
                    }
                    &_wrap {
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        a {
                            padding: 0 5px;
                        }
                    }
                }
                .social-icons {
                    width: 100%;
                    margin-top: 60px;
                    &_list {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        a {
                            img {
                                width: 36px;
                                height: 36px;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 710px) {
    .banner {
        &-title {
            h1 {
                font-size: 42px;
            }
        }
        &-slack {
            &_sidebar {
                display: none;
            }
            &_content {
                &-item-status {
                    flex-wrap: wrap;
                    &-item {
                        margin-top: 4px;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    .open-source {
        &_wrap {
            &-github {
                flex-direction: column;
                align-items: flex-start;
            }
            &-projects {
                &_list {
                    &-item {
                        padding: 0 30px;
                    }
                }
            }
        }
    }
    .partners {
        &_wrap {
            &-icons {
                &_row {
                    a {
                        width: 50%;
                        margin-top: 80px;
                        text-align: center !important;
                        img {
                            height: 24px;
                        }
                    }
                    .scentomania {
                        width: 100%;
                        order: 1;
                        img {
                            height: 15px;
                        }
                    }
                    .last-icon {
                        width: 50%;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 630px) {
    .contacts {
        &-wrap {
            &_list {
                .address {
                    width: 50%;
                }
                .phone-mail {
                    width: 50%;
                }
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    .banner {
        &-title {
            h1 {
                font-size: 36px;
            }
        }
    }
    .how-it-work {
        &_wrap {
            &-content {
                flex-direction: column;
                &-slider {
                    width: 100%;
                    order: 0;
                }
                &-title {
                    font-size: 26px;
                }
            }
        }
    }
    .best-practices {
        &_wrap {
            flex-direction: column;
            &-preview {
                width: 100%;
            }
            &-title {
                font-size: 26px;
            }
        }
    }
    .contacts {
        &-wrap {
            &_list {
                .social-icons {
                    a {
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .sec-title {
        font-size: 28px !important;
    }
    .container {
        margin: 0 16px;
        padding: 0;
    }
    .banner {
        &-title {
            h1 {
                font-size: 28px;
            }
        }
    }
    .how-it-work {
        &_wrap {
            &-content {
                padding: 60px 0;
                &-slider {
                    width: 100%;
                    min-width: auto;
                }
                &-title {
                    font-size: 24px;
                    margin-top: 40px;
                }
            }
        }
    }
    .best-practices {
        padding: 60px 0;
        &_wrap {
            flex-direction: column;
            &-preview {
                width: 100%;
                min-width: auto;
            }
            &-title {
                margin-top: 40px;
                .line-number_text h3 {
                    font-size: 24px;
                }
            }
        }
    }
    .reviews {
        padding: 60px 0;
        &_wrap {
            &-carousel {
                .VueCarousel-pagination {
                    margin-top: 30px;
                }
                &-slide {
                    &_desc {
                        font-size: 20px;
                        padding: 30px 0;
                    }
                }
            }
        }
    }
    .open-source_wrap-projects_list-item {
        border-right-width: 0;
        border-left-width: 0;
    }
    .open-source {
        padding-bottom: 80px;
        &_wrap {
            &_btn {
                font-size: 18px;
                max-width: 280px;
            }
            &-projects {
                &_list {
                    &-item {
                        width: 100%;
                        height: 380px;
                        box-sizing: border-box;
                        padding: 0 17px;
                    }
                    .projects-desc_wrap {
                        h4 {
                            font-size: 22px;
                        }
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .associations {
        padding: 35px 0 80px;
        &-wrap {
            h3 {
                width: 200px;
                font-size: 20px;
                text-align: center;
            }
            &_list {
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 40px;
                &-item {
                    width: 50%;
                    text-align: center;
                    &:first-child {
                        text-align: left;
                    }
                    &:nth-child(2) {
                        text-align: right;
                    }
                    &:last-child {
                        margin-top: 40px;
                    }
                }
            }
        }   
    }
    .speakers {
        padding-bottom: 60px;
    }
    .press {
        padding-top: 80px;
        &-wrap {
            &_item {
                width: 100%;
            }
        }
    }
    .contacts {
        padding: 60px 0 40px;
        &-wrap {
            &_list {
                flex-direction: column;
                margin-top: 40px;
                .address {
                    width: 100%;
                    text-align: center;
                    p {
                        width: 260px;
                        font-size: 18px;
                        margin: 0 auto;
                    }
                }
                .phone-mail {
                    width: 100%;
                    padding: 0;
                    margin-top: 40px;
                    text-align: center;
                    &_wrap {
                       flex-direction: column;
                       align-items: center;
                    }
                }
                .social-icons {
                    width: 100%;
                    margin-top: 40px;
                    text-align: center;
                }
            }
        }
    }
}
@media only screen and (max-width: 420px) {
    .banner {
        &-title {
            margin: 140px 0 35px;
            h1 {
                font-size: 28px;
            }
        }
        &-slack {
            &_content {
                &-title {
                    img {
                        margin-right: 4px;
                    }
                    h5 {
                        font-size: 11px;
                    }
                }
                &-item-text {
                    font-size: 14px;
                }
                &-item_group {
                    h5 {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}