@media only screen and (max-width: 480px) {
    .jobs-banner {
        height: 580px;
        min-height: 580px;
        h1 {
            font-size: 34px;
        }
        a {
            width: 290px;
            font-size: 24px;
        }
    }
}