@media only screen and (max-width: 1024px) {
    .advantages {
        &_list {
            &-item {
                width: 33%;
                max-width: 33%;
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    .growth {
        position: relative;
        &_content {
            flex-direction: column-reverse;
            &-info {
                width: 100%;
            }
            &-carousel {
                width: 100%;
                max-height: none;
                margin-bottom: 30px;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .advantages {
        p {
            font-size: 28px;
            margin-top: 12px;
        }
        &_list {
            &-item {
                h4 {
                    font-size: 16px;
                }
            }
        }
    }
    .growth {
        h2 {
            text-align: center;
        }
        &_content-info {
            width: 100%;
            ul {
                margin: 40px 0;
            }
            a {
                display: block;
                text-align: center;
            }
        }
        &_content-carousel {
            display: none !important;
        }
    }
}
@media only screen and (max-width: 480px) {
    .jobs-banner {
        height: 580px;
        min-height: 580px;
        h1 {
            font-size: 34px;
        }
        a {
            width: 290px;
            font-size: 24px;
        }
    }
    .advantages {
        padding: 80px 0 0;
        p {
            font-size: 24px;
        }
        &_list {
            &-item {
                width: 50%;
                max-width: 50%;
            }
        }
    }
    .growth {
        padding: 80px 0 0;
        &_content-info {
            width: 100%;
            ul {
                margin: 20px 0;
            }
            a {
                display: block;
                text-align: center;
            }
        }
    }
}