@media only screen and (max-width: 1440px) {
    .employer {
        &_list-item {
            width: calc(25% - 40px);
            min-width: calc(25% - 40px);
            max-width: 100%;
            max-height: none;
            height: auto;
            &__fake {
                width: calc(25% - 40px);
                min-width: calc(25% - 40px);
                max-width: 100%;
                max-height: none;
                height: auto;
            } 
        }
    }
}
@media only screen and (max-width: 1200px) {
    .employer {
        &_list-item {
            width: calc(33% - 40px);
            min-width: calc(33% - 40px);
            &__fake {
                display: none;
            } 
        }
    }
}
@media only screen and (max-width: 1024px) {
    .advantages {
        &_list {
            &-item {
                width: 33%;
                max-width: 33%;
            }
        }
    }
    .jobs {
        &_list {
            flex-wrap: wrap;
            &-item {
                width: calc(50% - 30px);
                max-width: calc(50% - 30px);
                margin-bottom: 30px;
                box-sizing: border-box;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    .growth {
        position: relative;
        &_content {
            flex-direction: column-reverse;
            &-info {
                width: 100%;
            }
            &-carousel {
                width: 100%;
                max-height: none;
                margin-bottom: 30px;
            }
        }
    }
    .employer {
        &_list-item {
            width: calc(50% - 40px);
            min-width: calc(50% - 40px);
            &__fake {
                width: calc(50% - 40px);
                min-width: calc(50% - 40px);
            } 
        }
    }
}
@media only screen and (max-width: 768px) {
    .advantages {
        p {
            font-size: 28px;
            margin-top: 12px;
        }
        &_list {
            &-item {
                h4 {
                    font-size: 16px;
                }
            }
        }
    }
    .growth {
        h2 {
            text-align: center;
        }
        &_content-info {
            width: 100%;
            ul {
                margin: 40px 0;
            }
            a {
                display: block;
                text-align: center;
            }
        }
        &_content-carousel {
            display: none !important;
        }
    }
    .employer {
        &_list-item {
            width: 100%;
            max-width: 100%;
        }
    }
    .jobs {
        &_list {
            &-item {
                width: 100%;
                max-width: 100%;
                margin-bottom: 40px;
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .jobs-banner {
        height: 580px;
        min-height: 580px;
        h1 {
            font-size: 34px;
        }
        a {
            width: 290px;
            font-size: 24px;
        }
    }
    .advantages {
        padding: 80px 0 0;
        p {
            font-size: 24px;
        }
        &_list {
            &-item {
                width: 50%;
                max-width: 50%;
            }
        }
    }
    .growth {
        padding: 80px 0 0;
        &_content-info {
            width: 100%;
            ul {
                margin: 20px 0;
            }
            a {
                display: block;
                text-align: center;
            }
        }
    }
    .employer {
        padding-top: 80px;
    }
    .jobs {
        margin-top: 80px;
    }
}