.mnd-button-link {
    width: 340px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ec2227;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    font-family: 'MADEEvolveSans-medium', sans-serif;
    font-weight: normal;
    text-decoration: none;
}