.mnd-button-link--black {
    max-width: 340px;
    max-height: 70px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #1e1e1e;
    font-size: 24px;
    font-family: 'MADEEvolveSans-medium',
    sans-serif;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 40px;
    transition: all .2s ease;
    white-space: nowrap;

    &:hover {
      background-color: #000;
    }

    img {
      margin-right: 15px;
    }
}