.cookie-notif {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(38, 36, 32, 0.24);
  transition: all .3s ease;
  z-index: 999;
  .cookie-notif_button {
    width: 40px;
    height: 24px;
    background-image: url(../img/common/header/close-menu.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  p {
    color: #000;
    font-family: 'MADEEvolveSans-regular', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 0 !important;
  }
}

.hide_cookie {
  height: 0;
  overflow: hidden;
  padding: 0;
  p {
    display: none;
  }
  button {
    display: none;
  }
}